/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Hi+Melody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Hi+Melody&family=Manjari&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manjari" , sans-serif;
}
.sidebar-atish{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-image:linear-gradient(180deg,rgb(21, 68, 131),rgb(1, 14, 22));
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar-atish.open{
  width: 250px;
}
.sidebar-atish .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar-atish .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar-atish .logo-details .logo_name{
  color: rgb(123, 192, 233);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar-atish.open .logo-details .icon,
.sidebar-atish.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar-atish .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar-atish.open .logo-details #btn{
  text-align: right;
}
.sidebar-atish i{
  color: rgb(123, 192, 233);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar-atish .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar-atish li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar-atish li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar-atish li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-atish.open li .tooltip{
  display: none;
}
.sidebar-atish input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}


.sidebar-atish.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar-atish li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background:transparent;
}
.sidebar-atish li a:hover{
  background-image:linear-gradient(180deg,rgb(133, 175, 228),rgb(221, 229, 235));
}
.sidebar-atish li a .links_name{
  color: rgb(123, 192, 233);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar-atish.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar-atish li a:hover .links_name,
.sidebar-atish li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar-atish li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar-atish li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background-image:linear-gradient(-180deg,rgb(18, 94, 194),rgb(4, 72, 117));
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar-atish.open li.profile{
  width: 250px;
}
.sidebar-atish li .profile-details{
  display: flex;  
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar-atish li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar-atish li.profile .name,
.sidebar-atish li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar-atish li.profile .job{
  font-size: 12px;
}
.sidebar-atish .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #036d9e;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar-atish.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar-atish.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text-gray-re{
  display: inline-block;
  color: #efeff0;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}


@media (max-width: 420px) {
  .sidebar-atish li .tooltip{
    display: none;
  }
}
